In [2]:
#I wanted to see if every single player on the Venezuelan's men soccer team touched the ball during
#the creation of the third goal against Chile. Not only that, but also wanted to see on which side of the   
#field they played the most. 

#I made use of ChatGPT for some areas of the coding process as I was not familiar with some of the 
#technical aspects, but later I edited things to make it work as I wanted

In [15]:
import pandas as pd

# I manually extracted the x,y locations of the actions using FC Python interface: https://fcpythonvideocoder.netlify.app/

file_path = 'C:/Users/verde/Desktop/data/Goal3.txt'
df = pd.read_csv(file_path, delimiter = "\t")
df.head()

#X,Y: Values of the initial Contact
#X2,Y2: Final Position of the ball for that particular contact

,Team,Player,Event,Mins,Secs,X,Y,X2,Y2
0,Chile,Alexánder Aravená,Missed Pass,17.0,41.0,77.0,95.0,66.0,82.0
1,Venezuela,Darwin Machís,Pass,17.0,54.0,65.0,80.0,69.0,94.0
2,Venezuela,González,Pass,18.0,28.0,69.0,94.0,65.0,80.0
3,Venezuela,Darwin Machís,Dribble,18.0,42.0,64.0,79.0,64.0,71.0
4,Venezuela,Darwin Machís,Pass,18.0,52.0,65.0,72.0,60.0,63.0

In [16]:
# Unfortunately, the X,Y,X1,Y2 range of FC Python is different to the one of Pitch on mpl, so I had to adjust the XY variables.

df['Y']=df['Y'].astype(float)*(65/100)
df['Y2']=df['Y2'].astype(float)*(65/100)

df['X']=df['X'].astype(float)*(120/100)
df['X2']=df['X2'].astype(float)*(120/100)

In [19]:
#I did not need the values of Chile's touches with the ball
Vzla10=df[df['Team']=='Venezuela']